* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.button:hover {
    background-color: rgb(123, 166, 182);
    font-weight: 600;
}

.button:active {
    box-shadow: 2px 2px rgb(80, 107, 117);
}

.calculator {
    border: 1px black solid;
    max-height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    gap: 1px;
}



input {
    width: 100%;
    font-size: 100px;
    background-color: lightskyblue;
    text-align: right;
}

.display {
    width: 100%;
    height: 100px;
    background-color: rgb(157, 201, 214);
    font-size: 80px;
    text-overflow: clip;
    overflow: hidden;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.button {
    padding: 15px;
    font-size: 35px;
    background-color: lightblue;
    box-shadow: none;
    border: none;
    height: 100px;
    width: 100px;

    flex: 1 1 20%;
}

